# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Backend - exclude from frontend repo
/backend/

# Avoid committing uploaded files
/backend/uploads/

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# development files
test-backend-connection.js
start-scripts.json
lib/init-db.ts
app/api/
